@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/base';
@import 'utils/placeholders';
@import 'components/logo';
@import 'components/page-header';
@import 'components/hero';
@import 'components/features';
@import 'components/specialties';
@import 'components/team';
@import 'components/socials';
@import 'components/clients';
@import 'components/page-footer';
@import 'components/subscr-form';
@import 'components/backdrop';
@import 'components/modal';
@import 'components/portfolio';
@import 'components/mobile-menu';
@media screen and (max-width: 767px) {
    .hero {
        max-width: 480px;
        margin: 0 auto;
        background-size: cover;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/mobile/hero-bkg.jpeg');
        background-repeat: no-repeat;
        background-position: center;

        @media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url('../images/mobile/hero-bkg@2x.jpeg');
        }
    }
}

@media screen and (min-width: 768px) {
    .hero {
        margin: 0 auto;
        max-width: 768px;
        background-size: 768px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/tablet/hero-bkg.jpeg');

        @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url('../images/tablet/hero-bkg@2x.jpeg');
        }
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        margin: 0 auto;
        max-width: 1600px;
        background-size: 1600px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/desktop/hero-bkg.jpeg');

        @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url('../images/desktop/hero-bkg@2x.jpeg');
        }
    }
}